<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ADMIN</title>
</head>
<body>
    
    <h2><center>ADMIN</center></h2>
    <hr>
    <form action="/login/" method="post">
        {% csrf_token %}
        <center>
        <table>
            <br><br><br><br>
            <tr>
                <td>USERNAME</td>
                <td><input type="text" name="username" placeholder="username" required></td>
            </tr>
            <tr>
                <td>PASSWORD</td>
                <td><input type="password" name="password" placeholder="password" required></td>
            </tr>
            <tr>
                <td><input type="Submit" value="submit"></td>
            </tr>
            </center>
        </table>

    </form>
</body>
</html>