<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .box{
            position: absolute;
            top: 30%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 18px;
            color:azure;
        }
    </style>
</head>
<body>
    <form action="/changephone/" method="POST">
        {% csrf_token %}
        <center>
        <img src="\static\download (12).jpg" height="550px" width="1250px">
        <table class="box"> 
            <br><br><br><br>
            
                <tr>
                    <td>CUSTOMER NAME</td>
                    <td><input type="text" name="custname"> </td>
                </tr>
                <tr>
                    <td>CHANGE PHONE NO</td>
                    <td><input type="number" name="phoneno"> </td>
                </tr>
                <tr>
                    <td><input type="submit" value="search"></td>
                </tr>
            
        </table>
        </center>
</body>
</html>